<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layouts/layout" lang="ko">

<div layout:fragment="content">
    <script>

        const mode = "[[${mode}]]";
        const type = "[[${document.docuType}]]";
        const idx = "[[${document.idx}]]";

        $(document).ready(function() {

            if(mode=="edit") {
                $("input[name='type'][value='" + type + "']").attr("checked", true);
                document_form.idx.value = "[[${document.idx}]]";
            }
            $("#act_cancle").on("click",function (){
                console.log("act_cancle");
                if(mode=="edit") {
                    document.location.href = "/document/view?idx="+idx;
                }else {
                    document.location.href = "/document/list";
                }
            });
            $("#act_register").on("click",function () {
                document_form.method="POST";
                document_form.action = "/document/register";
                document_form.submit();
            });
            $("#act_modify").on("click",function () {
                document_form.method="POST";
                document_form.action = "/document/modify";
                document_form.submit();
            });
        });

    </script>
    <style>
        .title_img >img {height: 100px;}
        #fileupload {
            border: 1px solid #87ceeb;
            height: 80px;
        }
    </style>
    <h1>문서 작성</h1>

    <div>
        <form name="document_form" enctype="multipart/form-data" id="fileUploadForm">
            <input type="hidden" name="idx" value="">
            <div th:replace="approval/sign/list :: sign" ></div>
        <table class="table table-hover">
            <thead>
            <tr>
                <th scope="col" class="col-1">제목</th>
                <td><input type="text" name="title" size="80" maxlength="250" th:value="${document.title}"></td>
            </tr>
            <tr>
                <th scope="col" class="col-1">문서타입</th>
                <td>
                    <span th:each="doctype : ${docType}">
                    <input type="radio" name="type" th:value="${doctype.key}" th:text="${doctype.value}" />
                    </span>
                </td>
            </tr>
            <tr class="receive">
                <th scope="col col-3">수신자</th>
                <td>
                    <button type="button" class="btn btn-outline-warning btn-sm">설정</button>
                    <input type="hidden" name="receiver_id" value="" readonly>
                    <input type="text" name="receiver" value="" readonly>
                </td>
            </tr>
            <tr>
                <th scope="col col-3">기안자</th>
                <td>
                    <input type="hidden" name="writer_id" th:value="${Session_id}" readonly>
                    <input type="text" name="writer" th:value="${Session_name}" readonly>
                </td>
            </tr>
            <tr>
                <th scope="col col-3">파일첨부</th>
                <td><input type="hidden" name="file">
                    <div id="fileupload">drag and drop</div>
                </td>
            </tr>
            <tr>
                <th scope="col col-3">내용</th>
                <td >
                    <textarea name="content" style="width: 562px; height: 328px;" th:text="${document.content}"></textarea>
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <button th:if="${mode == 'write'}" type="button"  class="btn btn-danger" id="act_register">등록하기</button>
                    <button th:if="${mode == 'edit'}" type="button"  class="btn btn-danger" id="act_modify">확인</button>
                    <button type="button"  class="btn btn-primary" id="act_cancle">취소</button>
                </td>
            </tr>
            </thead>

        </table>
        </form>
    </div>

</div>
</html>