<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
    xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <nav th:fragment="header" class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <a class="navbar-brand" href="/product/">DEMO</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/product/">Home</a>
                    </li>
                    <!--
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/product/">상품관리</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/logproduct/">상태변경_상품관리</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/category/list">카테고리관리</a>
                    </li>
                    -->
                    <!--li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            상품
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item" href="/board/">게시판</a></li>

                            <li sec:authorize = "hasRole('ROLE_MEMBER')" ><a class="dropdown-item" href="#">사용자 메뉴</a></li>

                            <li><hr class="dropdown-divider"></li>
                            <li sec:authorize="hasRole('ROLE_MANAGER')"><a class="dropdown-item" href="#">관리 메뉴</a></li>

                        </ul>
                    </li-->
                    <li class="input-group me-auto mb-2 mb-lg-0">
                            <button class="btn btn-primary me-2" type="button" onclick="login()" sec:authorize="isAnonymous()">로그인</button>
                            <button class="btn btn-primary me-2" type="button" onclick="logout()" sec:authorize="isAuthenticated()">로그아웃</button>

                        </span>
                    </li>
                </ul>
            </div>
            <!--div sec:authorize="isAuthenticated()">
                <span sec:authentication="name"></span>
                <span sec:authorize="hasRole('ROLE_MEMBER')">(MEMBER)</span>
                <span sec:authorize="hasRole('ROLE_MANAGER')">(MANAGER)</span>
            </div-->
        </div>
    </nav>

</html>