<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layouts/layout" lang="ko">
<div layout:fragment="content">
    <script>

        $(document).ready(function() {
            $("#act_cancle").on("click",function (){
                document.location.href="/user/list";
            });
            $("#act_register").on("click",function () {
                document_form.method="POST";
                document_form.action="/user/register";
                document_form.submit();
            });
        });

    </script>
    <style>
        .title_img >img {height: 100px;}
        #fileupload {
            border: 1px solid #87ceeb;
            height: 80px;
        }
    </style>
    <h1>사용자 등록</h1>
    <div>
        <form name="document_form">
            <table class="table table-hover">
                <thead>
                <tr>
                    <th scope="col" class="col-1">이름</th>
                    <td><input type="text" name="userName" size="40" maxlength="25"></td>
                </tr>
                <tr>
                    <th scope="col" class="col-1">ID</th>
                    <td><input type="text" name="userId" size="20" maxlength="15"></td>
                </tr>
                <tr>
                    <th scope="col" class="col-1">pwd</th>
                    <td><input type="password" name="userPwd" size="20" maxlength="20"></td>
                </tr>
                <tr>
                    <th scope="col" class="col-1">소속</th>
                    <td>
                        <select name="deptCode" >
                            <option th:each="dept : ${deptCode}" th:value="${dept.idx}" th:text="${dept.deptName}" />
                        </select>
                    </td>
                </tr>
                <tr>
                    <th scope="col" class="col-1">직급</th>
                    <td>
                        <select name="deptRank" >
                            <option th:each="rank : ${_deptRank}" th:value="${rank.idx}" th:text="${rank.Name}" />
                        </select>
                    </td>
                </tr>
                <tr>
                    <th scope="col" class="col-1">직책</th>
                    <td>
                        <select name="postion" >
                            <option th:each="pos : ${_postion}" th:value="${pos.idx}" th:text="${pos.Name}" />
                        </select>
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <button type="button"  class="btn btn-danger" id="act_register">등록하기</button>
                        <button type="button"  class="btn btn-primary" id="act_cancle">취소</button>
                    </td>
                </tr>
                </thead>

            </table>
        </form>
    </div>

</div>
</html>